<div class="d-flex flex-row justify-content-between bg-primary mb-3 px-2 fixed-top">
  <div class="p-2">
    <a [routerLink]="['/']">
      <i class="bi bi-stack"></i>
      <span class='text-light mx-2'>Inventory Management System</span>
    </a>
  </div>
  <div class="p-2">

    <div [ngSwitch]="isAuthenticated()">
  
      <div *ngSwitchCase="false">
        <a class="text-light" [routerLink]="['/login']">
          <i class="bi bi-person-fill text-light mx-2"></i>
          SIGN IN
        </a>
      </div>
      
      <div *ngSwitchCase="true"> 

        <button class="nav-icon-button"
          mat-icon-button [matMenuTriggerFor]="adminSetting" 
          aria-label="Admin Setting">
          <i class="bi bi-gear-fill text-light mx-2"></i>
        </button>
        <mat-menu #adminSetting="matMenu">
          <button mat-menu-item [routerLink]="['/product']">
            <i class="bi bi-file-earmark-plus me-2"></i>
            <span>New Product</span>
          </button>
          <button mat-menu-item [routerLink]="['/category']">
            <i class="bi bi-card-list me-2"></i>
            <span>Category</span>
          </button>
          <button mat-menu-item [routerLink]="['/unit-of-measure']">
            <i class="bi bi-card-list me-2"></i>
            <span>Unit of Measure</span>
          </button>
        </mat-menu>

        <button class="nav-icon-button"
          mat-icon-button [matMenuTriggerFor]="userSetting" 
          aria-label="User Setting">
          <i class="bi bi-person-fill text-light mx-2"></i>
        </button>
        <mat-menu #userSetting="matMenu">
          <button mat-menu-item (click)="logout()">
            <i class="bi bi-box-arrow-right me-2"></i>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>