<div class="d-flex flex-row justify-content-between bg-primary mb-3 px-2 fixed-top">
  <div class="p-2">
    <a href="">
      <i class="bi bi-stack"></i>
      <span class='text-light mx-2'>Inventory Management System</span>
    </a>
  </div>
  <div class="p-2">

    <div [ngSwitch]="isAuthenticated()">
  
      <div *ngSwitchCase="false">
        <a class="text-light" [routerLink]="['/login']">
          <i class="bi bi-person-fill text-light mx-2"></i>
          SIGN IN
        </a>
      </div>
      
      <div *ngSwitchCase="true"> 
        <a aria-label="Admin" target="_blank" rel="noopener" href="" title="Admin Setting">
          <i class="bi bi-gear-fill text-light mx-2"></i>
        </a>
        <a aria-label="User" target="_blank" rel="noopener" href="" title="User Setting">
          <i class="bi bi-person-fill text-light mx-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>