<div class="card m-3 bg-light">
  <div class="card-body">
    <h2 class="text-secondary">
      New Inventory Transaction
    </h2>
    <div class="row justify-content-center">
      <div class="col-8 col-xl-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <div>    
            
            <div class="row mb-3">
              <label class="col-md-3 col-form-label text-md-end" for="field_transactionDate">Date</label>
              <div class="col-md-9">
                <div class="input-group">
                  <input id="field_transactionDate" type="date" class="form-control" name="transactionDate" formControlName="transactionDate"/>
                </div>
                <div
                  *ngIf="editForm.get('transactionDate')!.invalid && (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('transactionDate')?.errors?.required"> This field is required. </small>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-3 col-form-label text-md-end" for="field_product">Product</label>
              <div class="col-md-9">
                <select class="form-control" id="field_product" name="product" formControlName="product">
                  <option [ngValue]="null"></option>
                  <option
                    [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
                    *ngFor="let productOption of productNameList; trackBy: trackProductById">
                    {{ productOption.name }}
                  </option>
                </select>
                <div *ngIf="editForm.get('product')!.invalid && (editForm.get('product')!.dirty || editForm.get('product')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('product')?.errors?.required"> This field is required. </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('product')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-3 col-form-label text-md-end" for="field_itemCount">Item Count</label>
              <div class="col-md-9">
                <input type="number" class="form-control" name="itemCount" id="field_itemCount" formControlName="itemCount" />
                <div *ngIf="editForm.get('itemCount')!.invalid && (editForm.get('itemCount')!.dirty || editForm.get('itemCount')!.touched)">
                  <small class="form-text text-danger" *ngIf="editForm.get('itemCount')?.errors?.required"> This field is required. </small>
                  <small class="form-text text-danger" [hidden]="!editForm.get('itemCount')?.errors?.number">
                    This field should be a number.
                  </small>
                </div>
              </div>
            </div>
    
            <div class="row mb-3">
              <label class="col-md-3 col-form-label text-md-end" for="field_description">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="description" id="field_description" formControlName="description"/>
              </div>
            </div>

          </div>
    
          <div class="row justify-content-around">
            <button type="button" id="cancel-save" class="col-5 col-md-3 btn btn-secondary" (click)="previousState()">
              <i class="bi bi-x-octagon"></i>&nbsp;<span>Cancel</span>
            </button>
    
            <button type="submit" id="save-entity" class="col-5 col-md-3 btn btn-primary" [disabled]="editForm.invalid || isSaving">
              <i class="bi bi-save"></i>&nbsp;<span>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>