/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

/* link and button */

.item-link {
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  
}

.item-hover:hover {
  outline: solid 2px lightgrey;
  outline-style: groove;
}

.icon-link:hover {
 color: #0d6efd !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
