.card-body{
  background-color: white;
}

.transactionItem-card {
  border: 1px solid rgba(0,0,0,.1);
  position: relative;
}

.div-transactionItem-list {
  height: calc(100vh - 380px);
  overflow: auto;
}

.item-link {
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  
}

.item-hover:hover {
  outline: solid 2px lightgrey;
  outline-style: groove;
}